<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStr01>Data Source=TEST1\SQLEXPRESS;Initial Catalog=CLS_Workflow;Integrated Security=True</connectionStr01>
  <connectionStr02></connectionStr02>
  <connectionStr03></connectionStr03>
  <connectionStr04></connectionStr04>
  <connectionStr05></connectionStr05>
  <connectionStr06></connectionStr06>
  <connectionStr07></connectionStr07>
  <connectionStr08></connectionStr08>
  <connectionStr09></connectionStr09>
  <connectionStr10></connectionStr10>
  <interval>2</interval>
  <portalFilesRouteKey>ftp.doksend.com</portalFilesRouteKey>
  <app01WhoCanSeeInPortal>CLS_Workflow=speedyservices.com|topimagesystems.com</app01WhoCanSeeInPortal>
  <app02WhoCanSeeInPortal></app02WhoCanSeeInPortal>
  <app03WhoCanSeeInPortal></app03WhoCanSeeInPortal>
  <app04WhoCanSeeInPortal></app04WhoCanSeeInPortal>
  <app05WhoCanSeeInPortal></app05WhoCanSeeInPortal>
  <app06WhoCanSeeInPortal></app06WhoCanSeeInPortal>
  <app07WhoCanSeeInPortal></app07WhoCanSeeInPortal>
  <app08WhoCanSeeInPortal></app08WhoCanSeeInPortal>
  <app09WhoCanSeeInPortal></app09WhoCanSeeInPortal>
  <app10WhoCanSeeInPortal></app10WhoCanSeeInPortal>
  <app01ImportPath>c:\temp\cls2</app01ImportPath>
  <app02ImportPath></app02ImportPath>
  <app03ImportPath></app03ImportPath>
  <app04ImportPath></app04ImportPath>
  <app05ImportPath></app05ImportPath>
  <app06ImportPath></app06ImportPath>
  <app07ImportPath></app07ImportPath>
  <app08ImportPath></app08ImportPath>
  <app09ImportPath></app09ImportPath>
  <app10ImportPath></app10ImportPath>
  <fieldsToCheck>Invoice_Number|PO_Number|Total_Amount|Supplier_Name|Net_Amount1|VAT_Amount1|VAT1|Invoice_Date</fieldsToCheck>
  <stationsToCheckForFields>Completion|FreeProcess</stationsToCheckForFields>
  <imgUserName>supplierportaluser</imgUserName>
  <imgPwd>e7low5!!</imgPwd>
  <imgFolder>/images</imgFolder>
  <imgReceive>/images_receive</imgReceive>
  <flexibleDb>supplierportal.aws.af.cm</flexibleDb>
  <flexibleDbHttps>false</flexibleDbHttps>
  <flexibleDbPort>80</flexibleDbPort>
  <fileDomain>http://www.doksend.com/supplierportal/images</fileDomain>
  <excludeStations>SPortal|FilePortal</excludeStations>
  <tempFileUploadFolder>c:\temp\upload</tempFileUploadFolder>
</configuration>